* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    rgb(212, 115, 36),
    rgb(34, 211, 113),
    rgb(35, 152, 206)
  );
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  width: max-content;
  margin: 1rem auto;
  padding: 0.3rem;
  color: #fff;
  background: #000;
  border-radius: 0.4rem;
}

h2 {
  width: max-content;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  color: #fff;
  background: #000;
}

.page-title {
  text-align: center;
  color: #fff;
}

table {
  margin: 0 auto;
  tr {
    .box {
      background: #fff;
    }
    td {
      width: 80px;
      height: 80px;
      text-align: center;
      font-size: 2rem;
      color: red;
      transition: 0.3s ease;

      &:hover {
        background: red;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.btn {
  font-size: 2rem;
  display: block;
  margin: 0 auto;
  background: #000;
  color: #fff;
  padding: 0.3rem 2rem;
  border-radius: 1rem;
  margin-top: 2rem;

  border: none;
  cursor: pointer;
  transition: 0.4s ease-out;

  &:hover {
    color: #000;
    background: #fff;
  }
}

.container {
  // min-height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
  }

  ul {
    li {
      width: max-content;
      margin: 0.3rem;
      padding: 0.2rem 0.2rem;
      font-size: 1.5rem;
      border-radius: 0.4rem;
      color: #fff;
      background: #000;
    }
  }
}

.rules {
  position: absolute;
  top: 10px;
  right: 1rem;
  font-size: 1.3rem;
  background: #000;
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-out;

  &:hover {
    color: #000;
    background: #fff;
  }
}

.hidden {
  display: none;
}

// media query

@media (max-width: 768px) {
  .hidden {
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    background: #000;
    border-radius: 0.4rem;
  }

  .page-title {
    text-align: center;
    color: #fff;
  }

  table {
    margin: 0 auto;
    tr {
      .box {
        background: #fff;
      }
      td {
        width: 40px;
        height: 40px;
        font-size: 2rem;
        color: red;
        transition: 0.3s ease;

        &:hover {
          background: red;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .container {
    h1 {
      font-size: 1.6rem;
    }
  }
}
