$white: #fff;
$black: #000;
$ascent-color: orange;


$box-shadow: rgba(136, 129, 129, 0.705);
$box-shadow-light: rgba(230, 218, 218, 0.705);

$linear-gradient:linear-gradient(
    to right bottom,
    #17181a,
    #141821,
    #101929,
    #0b1930,
    #051937
  );